# Bristlemouth Core config options

# Copyright (c) 2021-2022 Sofar Ocean Technologies
# SPDX-License-Identifier: Apache-2.0

# Core Bristlemouth drivers, subsystems, and features

menuconfig BM
	bool "Bristlemouth Core Library Support"
	help
	  This option enables the Bristlemouth Core features and services

if BM

# Serial Subsystem
config BM_SERIAL
	bool "Enable BM Serial multi-UART driver"
	select UART_INTERRUPT_DRIVEN
	select UART_ASYNC_API
	help
	  Enable Bristlemouth Serial driver

config BM_SERIAL_DEV_NAME_0
	string "Device Name of Bristlemouth IO Device 0"
	default "UART_2"
	help
	  This option specifies the name of Bristlemouth IO device 0

config BM_SERIAL_DEV_NAME_1
	string "Device Name of Bristlemouth IO Device 1"
	default ""
	help
	  This option specifies the name of Bristlemouth IO device 1

config BM_SERIAL_DEV_NAME_2
	string "Device Name of Bristlemouth IO Device 2"
	default ""
	help
	  This option specifies the name of Bristlemouth IO device 2 

config BM_NUM_FRAMES
	int "Number of Bristlemouth Frames in TX/RX sequential arrays"
	default 20
	help
	  This option can be used to modify the number of sequential frames
	  in the RX/TX buffers.

config BM_MAX_FRAME_SIZE
	int "Maximum number of bytes in a bristlemouth frame (header + payload)"
	default 261
	help
	  This option can be used to modify the max number of bytes in a bristlemouth
	  frame

config BM_TASK_STACK_SIZE
	int "Stack size of RX/TX Tasks in bm_serial.c"
	default 1024
	help
	  Stack size in bytes of RX/TX Tasks in bm_serial.c

config BM_MAX_SERIAL_DEV_COUNT
	int "Number of Serial Devices communicating on mesh network"
	default 3
	help
	  Number of Serial Devices communicating on mesh network

config BM_PREAMBLE_LEN
	int "Length of Preamble sent for every TX packet"
	default 4
	help
	  Length of Preamble (in bytes) sent for every TX packet

config BM_PREAMBLE_VAL
	int "Value of each Byte in TX preamble"
	default 85
	help
	  Value of each Byte in TX preamble

# DFU Subsystem
config BM_DFU
	bool "Enable Bristlemouth DFU Subsystem"
	select BM_SERIAL
	help
	  Enable Bristlemouth DFU subsystem, allowing image updates over the Bristlemouth network or serial interfaces

config BM_DFU_HOST
	bool "Enable Bristlemouth DFU Host Capability"
	default n
	help
	  Enable Bristlemouth DFU Host capabilities, or ability to send image to other device

config BM_DFU_CLIENT
	bool "Enable Bristlemouth DFU Client Capability"
	default n
	help
	  Enable Bristlemouth DFU Client capabilities, or ability to receive image from other device

config BM_DFU_NUM_FRAMES
	int "Number of Bristlemouth DFU Frames in TX/RX sequential arrays"
	default 2
	help
	  This option can be used to modify the number of sequential frames in the RX/TX buffers.

config BM_DFU_TASK_STACK_SIZE
	int "Stack size of RX/TX Tasks in bm_dfu.c"
	default 1024
	help
	  Stack size in bytes of RX/TX Tasks in bm_dfu.c

module = BM
module-str = Bristlemouth Core
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BM_CORE